<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/>
  </startup>
  <appSettings>
    <add key="Url" value="api.nanopool.org"/>
    <add key="Protocol" value="https"/>
    <add key="Address" value="0x0dd24c533977bf9f4d148c7971caa47b9cdaf837"/>


  </appSettings>

  <!--<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
        autoReload="true"
        throwExceptions="false"
        internalLogLevel="Off" internalLogFile="${basedir}/log.txt">

    --><!-- optional, add some variables
  https://github.com/nlog/NLog/wiki/Configuration-file#variables
  --><!--
    <variable name="myvar" value="myvalue"/>

    --><!--
  See https://github.com/nlog/nlog/wiki/Configuration-file
  for information on customizing logging rules and outputs.
   --><!--

    <targets>

      <target name="FileTarget" createDirs="true" xsi:type="File" fileName="${basedir}/Logs/${logger}.log" archiveEvery="Day" layout="${longdate} : ${callsite} : ${level} : ${message}${onexception:inner=${newline}Exception${newline}${exception}${newline}Stack${newline}${stacktrace}}" />


      --><!--
    add your targets here
    See https://github.com/nlog/NLog/wiki/Targets for possible targets.
    See https://github.com/nlog/NLog/wiki/Layout-Renderers for the possible layout renderers.
    --><!--

      --><!--
    Write events to a file with the date in the filename.
    <target xsi:type="File" name="f" fileName="${basedir}/logs/${shortdate}.log"
            layout="${longdate} ${uppercase:${level}} ${message}" />
    --><!--
    </targets>

    <rules>
      <logger name="*" writeTo="FileTarget" />

      <logger name="*" writeTo="Mail" minlevel="Error">
        <filters>
          --><!-- filter for LK-385 HARDCODED substring. Source: LkApiController line 22: Log.LogError($"Запрос сервиса КСН с неизвестного IP адреса: {residentIP}"); --><!--
          <when condition="starts-with('${message}','Some message:')" action="Ignore" />
        </filters>
      </logger>



      --><!--<logger name="*" writeTo="Mail">
        <when condition="level >= LogLevel.Debug" action="Ignore" /> 
      </logger>--><!--
    </rules>
  </nlog>-->

</configuration>
