<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7" />
    </startup>
  <appSettings>
    <add key="Url" value="api.nanopool.org" />
    <add key="Protocol" value="https" />
    <add key="Address" value="0x0dd24c533977bf9f4d148c7971caa47b9cdaf837" />
  </appSettings>
</configuration>