<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7" />
    </startup>
  <appSettings>
    <add key="Url" value="api.nanopool.org" />
    <add key="Protocol" value="https" />
    <add key="commandTimeoutSeconds" value="80" />
  </appSettings>
</configuration>